### 4번 - 각 코스별, 숙제별, 학생별로 처음 만점이 될 때까지의 제출 횟수를 출력하시오. 단 만점이 아닌 경우에는 출력하지 않습니다.

In [1]:
import pymysql

conn = pymysql.connect(host = 'codeborn-bi-db.cvv1o1yrngie.ap-northeast-2.rds.amazonaws.com',
                        port = 3306,
                        user = 'pikachu',
                        password = 'ufeqqE5W2ILb',
                        db = 'codeborn')

In [2]:
cur = conn.cursor()
cur.execute("select * from assignments limit 5;")
results = cur.fetchall()

In [3]:
# df_assignments에 저장 
import pandas as pd
df_assignments = pd.read_sql_query("select * from assignments;", conn)

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_61062/2912317425.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_assignments = pd.read_sql_query("select * from assignments;", conn)

In [4]:
# df_submissions에 저장
df_submissions = pd.read_sql_query("select * from submissions;", conn)

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_61062/2740625877.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_submissions = pd.read_sql_query("select * from submissions;", conn)

In [5]:
# df_student_course_relation 에 저장
df_student_course_relation = pd.read_sql_query("select * from student_course_relation;", conn)

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_61062/3257567451.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_student_course_relation = pd.read_sql_query("select * from student_course_relation;", conn)

In [23]:
# 조교 제외
not_assistant = df_student_course_relation[df_student_course_relation['teaching_assistant'] == 0]

In [7]:
# assignment_id = 1 제외
not_test = df_assignments[df_assignments['assignment_id'] != 1]

In [8]:
# 조교와 테스트 과제를 제외한 테이블끼리 조인
asnmt = pd.merge(not_assistant, not_test, on="course_id")

In [9]:
# submisison 테이블과 앞의 asnmt 테이블 조인
sub_asnmt = pd.merge(asnmt, df_submissions, on=["assignment_id", "student_id"])

In [10]:
# 제시간에 숙제를 낸 학생만 남음
in_time = sub_asnmt[(sub_asnmt["submit_date"] > sub_asnmt["started_date"]) & (sub_asnmt["submit_date"] < sub_asnmt["ended_date"])]
in_time

,student_course_id,course_id,student_id,teaching_assistant,assignment_id,problem_id,assignment_title,created_date,started_date,ended_date,submission_id,submit_date,submit_code,total_score
5,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,109,2021-09-20 13:06:12,#######################\n# Basic Math ...,75.0
6,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,110,2021-09-20 13:26:21,#######################\n# Basic Math ...,75.0
7,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,197,2021-09-22 16:57:29,#######################\n# Basic Math ...,0.0
8,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,290,2021-09-23 11:37:50,#######################\n# Basic Math ...,0.0
12,11,DSAA-2021,11,0,3,5,Arithmetic Function,2021-09-18,2021-09-01,2021-12-31 00:00:00,12,2021-09-18 11:16:59,"# -*- coding: utf8 -*-\n\ndef addition(a, b):\...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20224,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21251,2022-10-25 23:53:33,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20225,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21253,2022-10-25 23:53:50,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20226,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21254,2022-10-25 23:54:09,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20229,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21362,2022-12-10 23:39:13,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN
20230,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21363,2022-12-10 23:42:26,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN

In [25]:
## 제출 횟수 column을 추가해서 풀기!