### 각 코스별로 제출 학생의 숫자와 제출 숙제 개수를 출력하시오

In [1]:
import sqlite3

In [11]:
import pymysql

conn = pymysql.connect(host = 'codeborn-bi-db.cvv1o1yrngie.ap-northeast-2.rds.amazonaws.com',
                        port = 3306,
                        user = 'pikachu',
                        password = 'ufeqqE5W2ILb',
                        db = 'codeborn')

In [105]:
cur = conn.cursor()
cur.execute("select * from assignments limit 5;")
results = cur.fetchall()

In [37]:
# df_assignments에 저장 
import pandas as pd
df_assignments = pd.read_sql_query("select * from assignments;", conn)
df_assignments

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_59377/3323689010.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_assignments = pd.read_sql_query("select * from assignments;", conn)

,assignment_id,course_id,problem_id,assignment_title,created_date,started_date,ended_date
0,1,123456,1,1주차 과제,2020-07-11,2020-07-12,2020-07-20 23:59:59
1,2,DSAA-2021,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00
2,3,DSAA-2021,5,Arithmetic Function,2021-09-18,2021-09-01,2021-12-31 00:00:00
3,6,DSAA-2021,9,Text processing,2021-09-23,2021-09-23,2021-09-24 00:00:00
4,8,DSAA-2021,11,Text processing II,2021-09-23,2021-09-23,2021-09-24 00:00:00
5,10,DSAA-2021,13,Basic operations,2021-09-26,2021-09-01,2021-12-31 00:00:00
6,11,DSAA-2021,14,Exam Grader,2021-09-26,2021-09-01,2021-12-31 00:00:00
7,13,DSAA-2021,15,gowithflow,2021-09-28,2021-09-28,2021-10-05 00:00:00
8,14,DSAA-2021,16,Forklift LinkedList,2021-10-07,2021-10-07,2021-10-14 00:00:00
9,16,DSAA-2021,19,dom validator,2021-10-30,2021-10-24,2021-11-04 00:00:00
10,18,DSAA-2021,20,Miro Finder,2021-11-15,2021-11-04,2021-11-18 00:00:00
11,21,PY-2022S,5,Arithmetic Function,2022-04-01,2022-04-01,2022-04-09 00:00:00
12,22,DSAA-2021,4,Basic math,2022-04-01,2022-04-01,2022-04-09 00:00:00
13,23,PY-2022S,3,Basic math,2022-04-01,2022-04-01,2022-04-09 00:00:00
14,24,PY-2022S,9,Text processing,2022-04-06,2022-04-06,2022-04-16 00:00:00
15,25,PY-2022S,11,Text processing II,2022-04-06,2022-04-06,2022-04-16 00:00:00
16,26,PY-2022S,13,Basic operations,2022-04-08,2022-04-13,2022-04-30 00:00:00
17,27,PY-2022S,14,Exam Grader,2022-04-08,2022-04-08,2022-04-23 00:00:00
18,28,PY-2022S,21,fahrenheit_converter,2022-04-08,2022-04-08,2022-04-23 00:00:00
19,29,PY-2022S,15,gowithflow,2022-04-08,2022-04-08,2022-04-23 00:00:00
20,30,PY-2022S,22,Baseball Game,2022-04-27,2022-04-27,2022-05-07 00:00:00
21,33,PY-2022S,23,morsecode,2022-05-04,2022-05-04,2022-05-14 00:00:00
22,34,PY-2022S,24,Lab - Basic Linear Algebra with Pythonic Code,2022-05-29,2022-05-29,2022-06-13 00:00:00
23,35,DSAA-2022,3,Basic math,2022-09-16,2022-09-16,2022-09-18 00:00:00
24,36,DSAA-2022,5,Arithmetic Function,2022-09-16,2022-09-16,2022-09-18 00:00:00
25,37,DSAA-2022,9,Text processing,2022-09-16,2022-09-16,2022-09-18 00:00:00
26,38,DSAA-2022,11,Text processing II,2022-09-20,2022-09-19,2022-09-23 00:00:00
27,39,DSAA-2022,16,Forklift LinkedList,2022-10-05,2022-10-05,2022-10-06 00:00:00
28,40,DSAA-2022,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59
29,41,DSAA-2022,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00

In [15]:
df_submissions = pd.read_sql_query("select * from submissions;", conn)
df_submissions

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_59377/302540031.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_submissions = pd.read_sql_query("select * from submissions;", conn)

,submission_id,assignment_id,student_id,submit_date,submit_code,total_score
0,1,1,1,2020-07-13 15:00:00,"print(""Hello"")",10.0
1,2,2,1,2020-07-14 15:00:00,"print(""Hello"")",20.0
2,4,1,2,2020-07-13 15:00:00,"print(""Hello"")",40.0
3,5,2,11,2021-09-18 10:59:06,#######################\n# Basic Math ...,0.0
4,10,1,11,2021-09-18 11:07:58,"# -*- coding: utf8 -*-\n\ndef addition(a, b):\...",NaN
...,...,...,...,...,...,...
21281,21363,41,212,2022-12-10 23:42:26,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN
21282,21364,41,193,2022-12-10 23:46:36,\ndef get_maze_answer(maze : dict) -> list:\n ...,NaN
21283,21365,41,195,2022-12-11 14:58:52,"\ndef get_maze_answer(maze : dict, end_point=(...",0.0
21284,21366,41,195,2022-12-11 15:18:28,"def get_maze_answer(maze : dict, end_point=(1,...",0.0
21285,21367,41,188,2022-12-11 15:38:49,def get_maze_answer(maze : dict) -> list:\n ...,0.0

In [17]:
df_student_course_relation = pd.read_sql_query("select * from student_course_relation;", conn)
df_student_course_relation

/var/folders/w3/8l1p0j1d51s69f3vlw1939ym0000gn/T/ipykernel_59377/2258212509.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_student_course_relation = pd.read_sql_query("select * from student_course_relation;", conn)

     student_course_id  course_id  student_id  teaching_assistant
0                    1     123456           1                   1
1                    2     123456           2                   0
2                    3     123456           3                   0
3                    4     123456           4                   0
4                    5     123457           5                   0
..                 ...        ...         ...                 ...
207                211  DSAA-2022         209                   0
208                212  DSAA-2022         210                   0
209                213  DSAA-2022         211                   0
210                214  DSAA-2022         212                   0
211                215  DSAA-2022         213                   0

[212 rows x 4 columns]

In [112]:
# 조교 제외
not_assistant = df_student_course_relation[(df_student_course_relation['teaching_assistant'] == 0)]
not_assistant

     student_course_id  course_id  student_id  teaching_assistant
0                    1     123456           1                   0
1                    2     123456           2                   0
2                    3     123456           3                   0
3                    4     123456           4                   0
4                    5     123457           5                   0
..                 ...        ...         ...                 ...
207                211  DSAA-2022         209                   0
208                212  DSAA-2022         210                   0
209                213  DSAA-2022         211                   0
210                214  DSAA-2022         212                   0
211                215  DSAA-2022         213                   0

[212 rows x 4 columns]

In [38]:
# assignment_id = 1 제외
not_test = df_assignments[df_assignments['assignment_id'] != 1]
not_test

,assignment_id,course_id,problem_id,assignment_title,created_date,started_date,ended_date
1,2,DSAA-2021,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00
2,3,DSAA-2021,5,Arithmetic Function,2021-09-18,2021-09-01,2021-12-31 00:00:00
3,6,DSAA-2021,9,Text processing,2021-09-23,2021-09-23,2021-09-24 00:00:00
4,8,DSAA-2021,11,Text processing II,2021-09-23,2021-09-23,2021-09-24 00:00:00
5,10,DSAA-2021,13,Basic operations,2021-09-26,2021-09-01,2021-12-31 00:00:00
6,11,DSAA-2021,14,Exam Grader,2021-09-26,2021-09-01,2021-12-31 00:00:00
7,13,DSAA-2021,15,gowithflow,2021-09-28,2021-09-28,2021-10-05 00:00:00
8,14,DSAA-2021,16,Forklift LinkedList,2021-10-07,2021-10-07,2021-10-14 00:00:00
9,16,DSAA-2021,19,dom validator,2021-10-30,2021-10-24,2021-11-04 00:00:00
10,18,DSAA-2021,20,Miro Finder,2021-11-15,2021-11-04,2021-11-18 00:00:00
11,21,PY-2022S,5,Arithmetic Function,2022-04-01,2022-04-01,2022-04-09 00:00:00
12,22,DSAA-2021,4,Basic math,2022-04-01,2022-04-01,2022-04-09 00:00:00
13,23,PY-2022S,3,Basic math,2022-04-01,2022-04-01,2022-04-09 00:00:00
14,24,PY-2022S,9,Text processing,2022-04-06,2022-04-06,2022-04-16 00:00:00
15,25,PY-2022S,11,Text processing II,2022-04-06,2022-04-06,2022-04-16 00:00:00
16,26,PY-2022S,13,Basic operations,2022-04-08,2022-04-13,2022-04-30 00:00:00
17,27,PY-2022S,14,Exam Grader,2022-04-08,2022-04-08,2022-04-23 00:00:00
18,28,PY-2022S,21,fahrenheit_converter,2022-04-08,2022-04-08,2022-04-23 00:00:00
19,29,PY-2022S,15,gowithflow,2022-04-08,2022-04-08,2022-04-23 00:00:00
20,30,PY-2022S,22,Baseball Game,2022-04-27,2022-04-27,2022-05-07 00:00:00
21,33,PY-2022S,23,morsecode,2022-05-04,2022-05-04,2022-05-14 00:00:00
22,34,PY-2022S,24,Lab - Basic Linear Algebra with Pythonic Code,2022-05-29,2022-05-29,2022-06-13 00:00:00
23,35,DSAA-2022,3,Basic math,2022-09-16,2022-09-16,2022-09-18 00:00:00
24,36,DSAA-2022,5,Arithmetic Function,2022-09-16,2022-09-16,2022-09-18 00:00:00
25,37,DSAA-2022,9,Text processing,2022-09-16,2022-09-16,2022-09-18 00:00:00
26,38,DSAA-2022,11,Text processing II,2022-09-20,2022-09-19,2022-09-23 00:00:00
27,39,DSAA-2022,16,Forklift LinkedList,2022-10-05,2022-10-05,2022-10-06 00:00:00
28,40,DSAA-2022,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59
29,41,DSAA-2022,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00

In [40]:
# 조교와 테스트 과제를 제외한 테이블끼리 조인
asnmt = pd.merge(not_assistant, not_test, on="course_id")
asnmt

,student_course_id,course_id,student_id,teaching_assistant,assignment_id,problem_id,assignment_title,created_date,started_date,ended_date
0,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00
1,11,DSAA-2021,11,0,3,5,Arithmetic Function,2021-09-18,2021-09-01,2021-12-31 00:00:00
2,11,DSAA-2021,11,0,6,9,Text processing,2021-09-23,2021-09-23,2021-09-24 00:00:00
3,11,DSAA-2021,11,0,8,11,Text processing II,2021-09-23,2021-09-23,2021-09-24 00:00:00
4,11,DSAA-2021,11,0,10,13,Basic operations,2021-09-26,2021-09-01,2021-12-31 00:00:00
...,...,...,...,...,...,...,...,...,...,...
2077,215,DSAA-2022,213,0,37,9,Text processing,2022-09-16,2022-09-16,2022-09-18 00:00:00
2078,215,DSAA-2022,213,0,38,11,Text processing II,2022-09-20,2022-09-19,2022-09-23 00:00:00
2079,215,DSAA-2022,213,0,39,16,Forklift LinkedList,2022-10-05,2022-10-05,2022-10-06 00:00:00
2080,215,DSAA-2022,213,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59
2081,215,DSAA-2022,213,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00

In [106]:
# submisison 테이블과 앞의 asnmt 테이블 조인
sub_asnmt = pd.merge(asnmt, df_submissions, on=["assignment_id", "student_id"])
sub_asnmt

,student_course_id,course_id,student_id,teaching_assistant,assignment_id,problem_id,assignment_title,created_date,started_date,ended_date,submission_id,submit_date,submit_code,total_score
0,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,5,2021-09-18 10:59:06,#######################\n# Basic Math ...,0.0
1,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,19,2021-09-18 17:03:54,#######################\n# Basic Math ...,0.0
2,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,20,2021-09-18 17:05:05,#######################\n# Basic Math ...,75.0
3,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,21,2021-09-18 17:06:37,#######################\n# Basic Math ...,75.0
4,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,22,2021-09-18 17:07:23,#######################\n# Basic Math ...,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20309,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21254,2022-10-25 23:54:09,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20310,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21260,2022-10-26 00:00:08,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20311,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21261,2022-10-26 00:00:40,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20312,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21362,2022-12-10 23:39:13,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN
20313,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21363,2022-12-10 23:42:26,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN

In [107]:
# 제시간에 숙제를 낸 학생만 남음
in_time = sub_asnmt[(sub_asnmt["submit_date"] > sub_asnmt["started_date"]) & (sub_asnmt["submit_date"] < sub_asnmt["ended_date"])]
in_time

,student_course_id,course_id,student_id,teaching_assistant,assignment_id,problem_id,assignment_title,created_date,started_date,ended_date,submission_id,submit_date,submit_code,total_score
5,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,109,2021-09-20 13:06:12,#######################\n# Basic Math ...,75.0
6,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,110,2021-09-20 13:26:21,#######################\n# Basic Math ...,75.0
7,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,197,2021-09-22 16:57:29,#######################\n# Basic Math ...,0.0
8,11,DSAA-2021,11,0,2,3,Basic math,2021-09-18,2021-09-19,2021-09-25 00:00:00,290,2021-09-23 11:37:50,#######################\n# Basic Math ...,0.0
12,11,DSAA-2021,11,0,3,5,Arithmetic Function,2021-09-18,2021-09-01,2021-12-31 00:00:00,12,2021-09-18 11:16:59,"# -*- coding: utf8 -*-\n\ndef addition(a, b):\...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20307,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21251,2022-10-25 23:53:33,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20308,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21253,2022-10-25 23:53:50,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20309,214,DSAA-2022,212,0,40,19,dom validator,2022-10-12,2022-10-12,2022-10-25 23:59:59,21254,2022-10-25 23:54:09,\nclass stack:\n\n def __init__ (self):\n ...,NaN
20312,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21362,2022-12-10 23:39:13,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN
20313,214,DSAA-2022,212,0,41,20,Miro Finder,2022-12-06,2022-12-06,2022-12-11 00:00:00,21363,2022-12-10 23:42:26,"\ndef get_maze_answer(maze : dict, end_point=(...",NaN

In [108]:
answer_1 = in_time.groupby(["course_id"]).student_id.unique()
answer_1

course_id
DSAA-2021    [11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 2...
DSAA-2022    [179, 180, 181, 182, 184, 185, 186, 187, 188, ...
PY-2022S     [30, 41, 61, 62, 63, 64, 65, 66, 67, 68, 69, 7...
Name: student_id, dtype: object

In [109]:
# 각 코스별 제출 학생의 숫자
answer_1.map(len)

course_id
DSAA-2021    39
DSAA-2022    31
PY-2022S     96
Name: student_id, dtype: int64

In [110]:
# 각 코스별 제출 숙제의 개수
answer_2 = in_time.groupby(["course_id"]).submission_id.count()
answer_2

course_id
DSAA-2021     2572
DSAA-2022     1527
PY-2022S     10072
Name: submission_id, dtype: int64