In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [5]:
# Series에 list_data를 기반으로 series_data 객체가 생성됨. 인덱스 값에 아무것도 넣지 않으면 자동으로 0, 1, 2, 3, 4로 생성됨
list_data = [1, 2, 3, 4, 5]
example_obj = Series(data = list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# list_index에 index 값을 지정해줬음
list_data = [11, 22, 33, 44, 55]  
list_index = ["a", "b", "c", "d", "e"]
example_obj = Series(data = list_data, index = list_index)
example_obj

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [8]:
# index 값에 접근
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
# value 값에 접근
example_obj.values

array([11, 22, 33, 44, 55])

In [11]:
# array 값들은 기본적으로 numpy의 nd array로 구성되어 있음
type(example_obj.values)

numpy.ndarray

In [16]:
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}  # dict type에서는 key 값이 인덱스로 들어가고, value값이 value로 들어감
example_obj = Series(dict_data, dtype=np.float32, name='example_data')  # data type 설정, series 이름 설정
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [17]:
# data index에 접근하기
example_obj["a"]

1.0

In [18]:
# data_index에 값 할당하기
example_obj['a'] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float64

In [27]:
# astype으로 데이터프레임 타입 바꾸기. 서로 타입 변경이 가능한 경우만 가능
example_obj = example_obj.astype(int)
example_obj["a"] = 3
example_obj

a    3
b    2
c    3
d    4
e    5
Name: example_data, dtype: int64

In [28]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [31]:
example_obj.name = "number"  # column에 시리즈 데이터 이름 지정
example_obj.index.name = "alphabet"  # 인덱스의 이름 지정
example_obj

alphabet
a    3
b    2
c    3
d    4
e    5
Name: number, dtype: int64

In [32]:
# index 값을 기준으로 series가 생성된다.
dict_data_1 = {"a":1, "b":2, "c":3, "d":4, "e":5}
indexes = ["a", "b", "c", "d", "e", "f", "g", "h"]
series_obj_1 = Series(dict_data_1, index = indexes)
series_obj_1

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64